<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_budget_planning"
              name="الموازنة التقديرية"
              parent="port_said_subsidiary_books.menu_subsidiary_root"
              action="port_said_budget_planning.action_budget_plans"
              sequence="75"/>
</odoo>
