<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <menuitem id="menu_transfer_root"
            name="دفاتر حركة النقود"
            parent="port_said_subsidiary_books.menu_subsidiary_root"
            sequence="61"/>

  <menuitem id="menu_transfer"
            name="التحويلات النقدية"
            parent="menu_transfer_root"
            action="action_cash_transfer"
            sequence="10"/>

  <menuitem id="menu_transfer_folio"
            name="الفوليوهات"
            parent="menu_transfer_root"
            action="action_transfer_folio"
            sequence="20"/>

</odoo>